<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="well">
      <h3>Edit Profile</h3>
      <%= form_for @user do |f| %>
        <div class="form-group">
          <%= f.label :avatar %>
          <br>
          <%= render 'shared/avatar', user: @user %>
          <br>
          <br>
          <%= f.file_field :avatar %>
        </div>
        <div class="form-group">
          <%= f.label :cover %>
          <br>
          <%= render 'shared/cover', user: @user %>
          <br>
          <%= f.file_field :cover %>
        </div>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, placeholder: 'Full Name', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :about %>
          <%= f.text_area :about, placeholder: 'About', class: 'form-control' %>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-12">
              <h4>Need a hand?</h4>
              <p>The community is here to support each other.</p>
            </div>
            <div class="col-sm-12">
              <%= f.label :help_type_need do %>
                <%= f.radio_button :help_type, 'need' %>
                <%= 'I need a hand' %>
              <% end %>
            </div>
            <div class="col-sm-12">
              <%= f.label :help_type_give do %>
                <%= f.radio_button :help_type, 'give' %>
                <%= 'I can give a hand' %>
              <% end %>
            </div>
            <div class="col-sm-12">
              <%= f.label :help_type_both do %>
                <%= f.radio_button :help_type, 'both' %>
                <%= 'Both!' %>
              <% end %>
            </div>
          <!-- <%= f.text_area :help_type, placeholder: 'Can give help/needs help/its complicated', class: 'form-control' %> -->
          </div>
        </div>
        <div class="form-group">
          <%= f.label :location %>
          <%= f.text_field :location, placeholder: 'Location', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :phone_number %>
          <%= f.text_field :phone_number, placeholder: 'Phone Number', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :dob %>
          <%= f.text_field :dob, placeholder: 'Date of Birth', class: 'form-control' %>
        </div>
        <div class="actions">
          <%= submit_tag 'Update', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
